@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background: aquamarine;
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 5vw;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    border-radius:1.5rem; 
    padding: 1rem 0.5rem;
    background:rgba(0, 0, 0, 0.267);
}
header{
    margin: 0.5rem auto;
    color: aliceblue;
    font-style: italic
}
#title{
    font-size: 0.8rem;
}
section{
    width: 100%;
}
p{
    margin-bottom:.5rem; 
}
#options, #results , #conatiner-score{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 1rem 0;
    border:.5px solid #1c1c1c;
    padding: 1rem 0;
    border-radius: 1rem; 
    background: white;
}
.option, .result, .round,.victories,.v-user{
    flex: 1;
    text-align: center;
    width: 30%;
    margin: 0 0.8rem;
    font-size: 1.2rem;
    border:1px solid black;
    border-radius: 1rem;
    padding: 0.2rem;
}
.option{
    transition: all 0.1s ease-in
}
.active{
    border:3px solid gray;
    background:rgb(199, 197, 197)
}
.result{
    width:50%;
    padding: 0.7rem;
}
.victories{
    font-size: 1rem;
    width: 55%;
}
.round{
    width: 30%;
}
.round p {
    margin-top:0.2rem 
}
.container-wins{
    display: flex;
    justify-content: center;
    font-size: 1rem
}
.v-user{
    font-size:1rem;
    width: 50%;
    border:none
}
#play-again{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    background: white;
    border-radius: 1rem;
    font-style: italic;
    position: absolute;
    display: none;
    top:6rem;
    border:1px solid #1c1c1c;
    
}
#btn-play{
    font-size: 1.5rem;
    background: white;
    padding: 0.5rem;
    width: 80%;
    border: 1px solid #1c1c1c;
    border-radius: 1rem; 
    margin: 1rem auto;
    
}
#Winner{
    margin-top:1rem; 
}
@media screen and (min-width:600px){

    .container{
        width: 400px;
        min-width: 50%;
    }
    #play-again{
        width: 50%;
        top: 8rem;
    }
    
}
